.topcustomer_dashboard {
    background-color: rgb(223, 218, 218);
    border: 1px solid #ccc;
    border-radius: 6px;
    overflow: hidden;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);

    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.topcustomer_header {
    background: #00AEEF;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 0;
    width: 100%;
    box-sizing: border-box;
}

.topcustomer_header h3 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.topcustomer_header span {
    font-size: 12px;
    font-weight: normal;
}

.topcustomer_table {
    width: 100%;
    border-collapse: collapse;
    font-size: 13px;
    flex: 1;
    overflow-y: auto;
}

.topcustomer_table th {
    background: #f1f1f1;
    text-align: left;
    padding: 5px;
    font-weight: bold;
    font-size: 12px;
}

.topcustomer_table td {
    padding: 5px;
    border-top: 1px solid #ddd;
}
